
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">

          <div>
            <ul class="d-flex flex-row ms-n3 nav">





            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">

        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">

        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">

        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">

        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; <a href="" class="font-weight-bold" target="_blank">WellBeing</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


